    .navbar-nav{
        margin-left: auto;
        gap: 25px;
    }
    body{
        margin: 0;
    }
    .container-fluid{
        background: #0F204B;
        margin-top: -8px;
        height: auto;
        min-height: 70px;
        max-height: 1363px;
    }
   
    .navbar-toggler-icon{
        background-color: white; 
            border-color: black;
    }
    .navbar-nav a{
        color: white;
        font-size: large;
    }
    .navbar-nav a:hover{
        color: goldenrod;
    }
   nav{
    height: 62px;
    }
    .text-img{
        position: relative;
        margin-top: -270px;
        text-align: center;
        color: white;
        font-size: 86px;
    }
 .img{
    background-position: center center;
    background-size: cover;
    height: 85vh;
    position: relative;
    overflow: hidden;
    width: 100%;
 }
 .img-mob{
    display: none;
    width: 100%;
 }
.right-part{
    width: 50%;
}

.text{
    position: relative;
    margin-top: 375px;
    margin-left: 22px;
    line-height: 65px;
    font-size: revert;
}
.again{
    text-decoration: underline  goldenrod;
    text-decoration-thickness: 5px;
    text-underline-offset: 25px;
}
.gl{
    text-decoration: underline  goldenrod;
    text-decoration-thickness: 5px;
    text-underline-offset: 25px;
}

.texxt{
    display: none;
}
.text1{
    margin-left: 25px;
    margin-top: 40px;
    line-height: 35px;
}
 .img-right{
    width: 690px;
    height: 440px;
    float: right;
    margin-top: -250px;
    margin-right: 20px;
}
.section2-left{
    width: 50%;
}
.img-left{
    margin-top: 120px;
    margin-left: 27px;
}
.section2-right{
    width: 50%;
    float: right;
}
.past{
    margin-top: -354px;
    margin-left: 35px;
}
.description{
    line-height: 35px;
    margin-top: 40px;
    margin-left: 38px;
}
.button{
    margin-left: 42px;
    background-color: #0f204B;
    color: gold;
    height: 40px;
    width: 269px;
}
.button:hover{
    color: goldenrod;
}
.journey{
    margin-top: 130px;
    width: 100%;
    height: 430px;
    background-color: #0F204B;
}
.join{
    color: gold;
    justify-content: center;
    display: flex;
    top: 100px;
    position: relative;
    font-size: 2.5rem;
}
.line{
    text-decoration: underline  goldenrod;
    text-decoration-thickness: 2px;
    text-underline-offset: 35px;
}
.guide{
    margin-top: 166px;
    color: white;
    font-size: 1rem;
    margin-left: 201px;
    margin-right: 255px;
    line-height: 35px;

}
.courteous{
    justify-content: center;
    display: flex;
}
.guide1{
    display: none;
}
.jet{
    margin-left: 33px;
    margin-top: 25px;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 30px;
    position: relative;
    top: 20px;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li :hover{
    color: goldenrod;
}
.end{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.load{
    width: 5%;
    float: right;
}
.btn{
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    top: -23px;
}



/* Responsive design(For mobile devices 700px) */

    @media(max-width:700px){
      .img{
        display: none;
      }
      .img-mob{
        display: flex;
        width: 593px;
        height: 712px;
      }
      .text-img{
        font-size: 35px;
        margin-left: 120px;
        position: relative;
      }
      .right-part{
        width: 100%;
      }
     .text{
        display: none;
     }
     .texxt{
        display: block;
        width: 100%;
        position: relative;
        margin-top: 200px;
        margin-left: 60px;
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
     }
     .skies{
        text-decoration: underline  goldenrod;
        text-decoration-thickness: 5px;
        text-underline-offset: 25px;
        margin-left: 80px;
     }
     .img-right{
        width: 100%;
        height: 100%;
        margin-top: 25px;
        margin-right: -64px;
     }
     .text1{
        width: 100%;
     }
      .re-launch{
        margin-left: 50px;
        width: 100%;
        display: block;
        font-size: 17px;
        font-weight: 600;
        top: 18px;
        position: relative;
      }
      .airline{
        font-size: 17px;
        font-weight: 600;
        position: relative;
        top: 18px;
        margin-left: 60px;
        width: 100%;
        display: block;
      }
        .elegance{
            font-size: 17px;
            font-weight: 600;
            position: relative;
            display: block;
            margin-left: 52px;
            width: 100%;
            top: -18px;
        }
        .elegance2{
            font-size: 17px;
            font-weight: 600;
            position: relative;
            display: block;
            margin-left: 62px;
            width: 100%;
            top: -18px;
        }
        .elegance1{
            font-size: 17px;
            font-weight: 600;
            position: relative;
            display: block;
            margin-left: 75px;
            width: 100%;
            top: -52px;
        }
        .img-left{
            margin-top: -5px;
            width: 192%;
            margin-left: 74px;
        }
        .past{
            width: 115%;
            margin-top: 60px;
            margin-left: -59px;
            font-weight: 600;
            font-size: 28px;
        }
        .description{
            width: 200%;
            margin-left: -121px;
            font-size: 17px;
            font-weight: 600;
        
        }
        .button{
            width: 100%;
            margin-left: -69px;
            background-color: #0f204B;
            color: gold;
            height: 40px;
            width: 269px;
        }
        .button:hover{
            color: goldenrod;
        }
        .journey{
            width: 593px;
            margin-top: 650px;
            margin-left: -1px;
            height: 800px;
        }
        .guide{
            display: none;
        }
        .guide1{
            display: block;
            color: white;
            margin-top: 180px;
            width: 81%;
            font-size: 23px;
            line-height: 38px;
            font-weight: 400;
            margin-left: 67px;
        }
        .jet{
           margin-left: 190px;
           font-size: 25px;
        }
        ul{
            display: block;
            line-height: 45px;
        }
        .about{
            margin-left: 200px;
        }
        .media{
            margin-left: 185px;
        }
        .carrers{
            margin-left: 202px;
        }
        .refund{
            margin-left: 185px;
        }
        .nclt{
            margin-left: 165px;
        }
        .end{
            width: 100%;
            margin-left: 60px;
        }
        .load{
            float: right;
        }
        .btn{
            margin-left: 60px;
            height: 60px;
            width: 60px;
            top: -55px;
        }
        .text2{
            display: none;
        }
        .text3{
            display: none;
        }
       .description1{
        display: none;
       }
    }

    /* Responsive design(For mobile devices 800px) */
    @media (min-width:800px) {
        .img-right{
            width: 50%;
            height: 100%;
            margin-top: -104px;
            margin-right: 15px;
        }
        .right-part{
            margin-top: -200px;
        }
        .img-left{
            margin-top: 60px;
            width: 100%;
            height: 100%;
            margin-left: 14px;
            position: relative;
            top: 95px;
        }
        /* .description{
            line-height: 30px;
            margin-top: 40px;
            margin-left: 38px;
        } */
        .journey{
            width: 100%;
            margin-top: 250px;
            margin-left: -1px;
            height: 610px;
        }
        .img-mob{
            display: none;
        }
        .img{
            display: block;
            width: 100%;
            height: 45vh;
        }
        .btn{
            height: 60px;
            width: 60px;
            top: -100px;
            margin-left: -100px;
        }
        .text1{
          display: none;
        }
        .past{
            margin-top: -310px;
        }
        .text3{
            display: block;
            margin-left: 25px;
            line-height: 35px;
            margin-top: 30px;
        }
        .text2{
            display: none;
        }
        .description1{
            display: none;
        }
       
    }


    /* Responsive design(For tablets) */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        .img-right{
            width: 334px;
            height: 300px;
            position: relative;
            /* top: 125px; */
        }
        .right-part{
            margin-top: -196px;
        }
        .text1{
            display: none;
        }
        .text2{
            display: none;
        }
        .text3{
            width: 50%;
            line-height: 35px;
            margin-left: 20px;
            margin-top: 20px;
        }
        .text{
            position: relative;
            margin-top: 375px;
            margin-left: 22px;
            line-height: 59px;
            font-size: 27px;
        }
        .img-left{
            width: 355px;
            height: 361px;
            position: relative;
            top: 56px;
        
        }
        .description{
            display: block;
        }
        .description1{
           display: none;
        }
        .section2-right{
            width: 50%;
            float: right;
            margin-top: -25px;
        }
        .guide{
            display: none;
        }
        .guide1{
            display: flex;
            color: white;
            position: relative;
            top: 160px;
            width: 86%;
            float: right;
            left: -38px;
        }
    }


 
